.signupParentDiv {
  width: max-content;
  padding: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  box-shadow: 1px 2px 13px;

  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  .signupParentDiv img{
    width: 180px;
    height: 112px;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    background-color: #3778ff;
    color: whitesmoke;
    font-weight: 900;
    border-radius: 12px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 6px #3778ff;
    border: none;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    /* border: 2px solid #002f34; */
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: initial;
  }
  .signupParentDiv input{
    margin-bottom: 10px;
  }
  